	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/12/2018 09:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-idea:before { content: "\f100"; }
.flaticon-thumb-up:before { content: "\f101"; }
.flaticon-medal:before { content: "\f102"; }
.flaticon-internet:before { content: "\f103"; }
.flaticon-message:before { content: "\f104"; }
.flaticon-setting:before { content: "\f105"; }
.flaticon-robotic-arm:before { content: "\f106"; }
.flaticon-oil:before { content: "\f107"; }
.flaticon-chip:before { content: "\f108"; }
.flaticon-atom:before { content: "\f109"; }
.flaticon-grid-world:before { content: "\f10a"; }